<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devanshi Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header-background">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
</nav>      
        <div class="header-content">
            <img src="port.jpg" alt="Profile Photo of devanshi">
            <h1>Hi, my name is Devanshi</h1>
            <p>Web Developer | Designer </p>
        </div>
    </header>
    <main>
        <section id="about">
            <h2>~ About Me ~</h2>
            <p>i am Devanshi Kher,a passionate and driven computer science enthusiast from the CSE department .with
                strong foundation in programming language ,data structure,and algorithms ,i'm excited to explore the
                vast opportunities in the tech world.</p>
        </section>
        <section id="portfolio">
            <h2>~ My Work ~</h2>
            <div class="project" id="project1">Animal hub</div>
            <div class="project" id="project2">Digital library management</div>
            <div class="project" id="project3">Pu notify</div>

        </section>
        <section id="contact">
            <h2>~ Keep in Touch ~</h2>
            <button class="btn btn-default td-btn outline white">Send me a message!</button>
        </section>
    </main>
    <div class="contact__links">
        <a href="mailto:ddevanshikher20@gmail.com" id="https://www.linkedin.com/in/devanshi-kher-774b98259" target="_blank">Send an Email</a>
</body>
</html>